<section class="landlord">
   <div class="landlord-info">
      <span class="landlord-name">{{landlord_name}}</span>
      <span> class="landlord-rating"{{landlord_rating}} {{posts.length}}</span>
      <span>Contact: {{landlord_number}}</span>
      <span>Located at: {{landlord_address}}</span>
      <span>Office Hours: {{landlord_hours}}</span>
   </div>
</section>