<section class="property">
   <div class="address">
      <span>{{prop_address}}, {{prop_city}}, {{prop_state }} {{prop_zip}}</span>
      <span>{{prop_rating}}</span>
      <span></span>
   </div>
   <div class="propInfo">
      {{sq_ft}} 
   </div>
</section>